@charset "utf-8";
*{margin:0; padding:0;}
ul,ol{list-style-type:none;}
a{color:#000;text-decoration:none;}	


body { font-family:"Noto Sans KR"; 
		font-size:14px; 
		color:#000; 
		line-height:24px;
}

#section1{
	width:1200px;
	margin:0 auto;
	
	
}

#section1 h1{
	font-size:80px;
	width:100%;
	margin:150px 0;
	color:#8c6da5;
	text-align:center;
}


#section1 img{
	width:100%;
	display:block;
}

